/*Remove view-transition from root element to avoid whole page flickering*/
::view-transition-old(root),
::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
}

/* Animate only the named content area */
::view-transition-old(page-content) {
    animation: 150ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    500ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(page-content) {
    animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    500ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

@keyframes fade-in {
    from { opacity: 0; }
}
@keyframes fade-out {
    to { opacity: 0; }
}
@keyframes slide-from-right {
    from { transform: translateX(30px); }
}
@keyframes slide-to-left {
    to { transform: translateX(-30px); }
}
